<!DOCTYPE html>
<html>
<head>
  <title>Rails Sample</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
  <script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
  <script>
    $('body').bootstrapMaterialDesign();
  </script>

</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <ul class="nav navbar-nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" href="/">All users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new">Create user</a>
      </li>
    </ul>
  </nav>
  <div class="body-container container">
    <%= yield %>
  </div>
</body>
</html>
